@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slatePro-50 text-slatePro-900 antialiased;
}

::selection {
  background: rgba(37, 83, 173, 0.2);
}

section {
  scroll-margin-top: 110px;
}
